.tabletitulo {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.6em;
  font-family: "Merriweather";
  text-decoration: underline;
}

p {
  font-size: 1.1em;
  text-shadow: 0px 0px 0px black;
  font-family: "Roboto Slab";
}

ul {
  font-size: 1em;
  text-shadow: 0px 0px 0px black;
  font-family: "Roboto Slab";
  list-style: none;
}

.mayoria, .robby {
  font-family: "Roboto Slab";
  font-size: 1em;
  text-shadow: 0px 0px 0px black;
}

.mayoria {
  margin-bottom: 2.5em;
}

.robby {
  margin-bottom: 2em;
}

.guitartitle {
  font-family: "Montserrat";
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 31px;
}

.discdurs {
  font-family: "Montserrat";
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 30px;
}

.titlebio {
  font-size: 3em;
  font-family: "Montserrat";
  color: white;
}

.parrafogrup {
  font-family: "Merriweather";
  overflow: hidden;
}

.vinilo {
  height: 3.2em;
  overflow-y: hidden;
  margin-top: 7px;
  overflow: hidden;
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
  -webkit-animation: play 2s infinite linear;
          animation: play 2s infinite linear;
}

.vinilox {
  height: 3.2em;
  overflow: hidden;
  margin-top: 7px;
  margin-left: 7px;
  overflow-y: hidden;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  -webkit-animation: play 2s infinite linear;
          animation: play 2s infinite linear;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: translate(-10%, -10%) rotate(0deg);
            transform: translate(-10%, -10%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-10%, -10%) rotate(180deg);
            transform: translate(-10%, -10%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-10%, -10%) rotate(360deg);
            transform: translate(-10%, -10%) rotate(360deg);
  }
}

@keyframes play {
  0% {
    -webkit-transform: translate(-10%, -10%) rotate(0deg);
            transform: translate(-10%, -10%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-10%, -10%) rotate(180deg);
            transform: translate(-10%, -10%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-10%, -10%) rotate(360deg);
            transform: translate(-10%, -10%) rotate(360deg);
  }
}

@media (max-width: 380px) {
  .vinilo, .vinilox {
    display: none;
  }
  .titlebio {
    padding-left: .5em;
  }
  .titleband {
    font-size: 2.8em;
  }
  .titleband2 {
    font-family: sans-serif;
    font-size: 3em;
    color: white;
    background-color: #a70000;
    margin-bottom: 1.5em;
  }
}

@media (max-width: 700px) {
  .vinilo {
    height: 55px;
    margin-left: 25px;
    -webkit-transform: translate(-5%, -5%);
            transform: translate(-5%, -5%);
    -webkit-animation: play 2s infinite linear;
            animation: play 2s infinite linear;
  }
  .vinilox {
    height: 55px;
    margin-left: 20px;
    margin-right: 1em;
    -webkit-transform: translate(-10%, -10%);
            transform: translate(-10%, -10%);
    -webkit-animation: play 2s infinite linear;
            animation: play 2s infinite linear;
  }
  .titlebio {
    font-size: 2.8em;
    font-family: "Montserrat";
    color: white;
  }
  .container-fluid h5 {
    font-size: 0.9em;
  }
  .videofram {
    height: 100px;
    width: 100%;
  }
  .fa-facebook-f {
    border-radius: 100%;
    color: #1453ff;
    -webkit-filter: drop-shadow(0px 0px 10px #1453ff);
            filter: drop-shadow(0px 0px 10px #1453ff);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .fa-facebook-f:hover {
    -webkit-box-shadow: 0px 0px 10px #1453ff;
            box-shadow: 0px 0px 10px #1453ff;
  }
  .fa-twitter {
    border-radius: 100%;
    color: #85a6ff;
    -webkit-filter: drop-shadow(0px 0px 10px #85a6ff);
            filter: drop-shadow(0px 0px 10px #85a6ff);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .fa-twitter:hover {
    -webkit-box-shadow: 0px 0px 10px #85a6ff;
            box-shadow: 0px 0px 10px #85a6ff;
  }
  .fa-instagram {
    border-radius: 100%;
    color: #750d37;
    -webkit-filter: drop-shadow(0px 0px 10px #750D37);
            filter: drop-shadow(0px 0px 10px #750D37);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .fa-instagram:hover {
    -webkit-box-shadow: 0px 0px 10px #750D37;
            box-shadow: 0px 0px 10px #750D37;
  }
  .fa-certificate {
    border-radius: 100%;
    color: #83ca00;
    -webkit-filter: drop-shadow(0px 0px 10px #83ca00);
            filter: drop-shadow(0px 0px 10px #83ca00);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .fa-certificate:hover {
    -webkit-box-shadow: 0px 0px 10px #83ca00;
            box-shadow: 0px 0px 10px #83ca00;
  }
  .fa-music {
    border-radius: 100%;
    color: #ffffff;
    -webkit-filter: drop-shadow(0px 0px 10px #ff0077);
            filter: drop-shadow(0px 0px 10px #ff0077);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .fa-music:hover {
    -webkit-box-shadow: 0px 0px 10px #ff0077;
            box-shadow: 0px 0px 10px #ff0077;
  }
  .fa-wikipedia-w {
    border-radius: 100%;
    color: #c9c9c9;
    -webkit-filter: drop-shadow(0px 0px 10px gray);
            filter: drop-shadow(0px 0px 10px gray);
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  .fa-wikipedia-w:hover {
    -webkit-box-shadow: 0px 0px 10px gray;
            box-shadow: 0px 0px 10px gray;
  }
  .tutu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #cristiano {
    height: 20px;
  }
}

.johnny {
  margin-left: 20px;
  margin-right: 295px;
  padding-right: 150px;
}

.ryan {
  margin-left: 20px;
  margin-right: 330px;
  padding-right: 100px;
}

.logan {
  margin-left: 11px;
  margin-right: 170px;
  padding-right: 120px;
}

.morris {
  margin-left: 20px;
  margin-right: 330px;
  padding-right: 150px;
}

.fa-facebook-f {
  border-radius: 100%;
  color: #1453ff;
  -webkit-filter: drop-shadow(0px 0px 10px #1453ff);
          filter: drop-shadow(0px 0px 10px #1453ff);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fa-facebook-f:hover {
  -webkit-box-shadow: 0px 0px 10px #1453ff;
          box-shadow: 0px 0px 10px #1453ff;
}

.fa-twitter {
  border-radius: 100%;
  color: #85a6ff;
  -webkit-filter: drop-shadow(0px 0px 10px #85a6ff);
          filter: drop-shadow(0px 0px 10px #85a6ff);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fa-twitter:hover {
  -webkit-box-shadow: 0px 0px 10px #85a6ff;
          box-shadow: 0px 0px 10px #85a6ff;
}

.fa-instagram {
  border-radius: 100%;
  color: #750d37;
  -webkit-filter: drop-shadow(0px 0px 10px #750D37);
          filter: drop-shadow(0px 0px 10px #750D37);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fa-instagram:hover {
  -webkit-box-shadow: 0px 0px 10px #750D37;
          box-shadow: 0px 0px 10px #750D37;
}

.fa-certificate {
  border-radius: 100%;
  color: #83ca00;
  -webkit-filter: drop-shadow(0px 0px 10px #83ca00);
          filter: drop-shadow(0px 0px 10px #83ca00);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fa-certificate:hover {
  -webkit-box-shadow: 0px 0px 10px #83ca00;
          box-shadow: 0px 0px 10px #83ca00;
}

.fa-music {
  border-radius: 100%;
  color: #a55d5d;
  -webkit-filter: drop-shadow(0px 0px 10px #ff0000);
          filter: drop-shadow(0px 0px 10px #ff0000);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fa-music:hover {
  -webkit-box-shadow: 0px 0px 10px #c40000;
          box-shadow: 0px 0px 10px #c40000;
}

.fa-wikipedia-w {
  border-radius: 100%;
  color: #c9c9c9;
  -webkit-filter: drop-shadow(0px 0px 10px gray);
          filter: drop-shadow(0px 0px 10px gray);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fa-wikipedia-w:hover {
  -webkit-box-shadow: 0px 0px 10px gray;
          box-shadow: 0px 0px 10px gray;
}

.loader {
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  top: -17px;
  right: -30px;
  background-color: #03e9f4;
  -webkit-animation: blinkCursor 0.8s steps(1) infinite;
          animation: blinkCursor 0.8s steps(1) infinite;
}

@-webkit-keyframes blinkCursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

@keyframes blinkCursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

.loader h4 {
  position: relative;
  color: #03e9f4;
  letter-spacing: 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  -webkit-animation: typing 7s steps(65) infinite;
          animation: typing 7s steps(65) infinite;
  overflow: hidden;
}

@-webkit-keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30%, 60% {
    width: 25em;
  }
}

@keyframes typing {
  0%, 90%, 100% {
    width: 0;
  }
  30%, 60% {
    width: 25em;
  }
}

.fa-caret-square-up {
  height: 200px;
  margin-right: 50px;
}

.rubro6 {
  margin-bottom: -120px;
}

.fa-spotify {
  border-radius: 100%;
  color: #14ff14;
  -webkit-filter: drop-shadow(0px 0px 10px #008000);
          filter: drop-shadow(0px 0px 10px #008000);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fa-spotify:hover {
  -webkit-box-shadow: 0px 0px 10px #008000;
          box-shadow: 0px 0px 10px #008000;
}

.fa-youtube {
  border-radius: 100%;
  color: #ff0000;
  -webkit-filter: drop-shadow(0px 0px 10px #ff0000);
          filter: drop-shadow(0px 0px 10px #ff0000);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fa-youtube:hover {
  -webkit-box-shadow: 0px 0px 10px #ff0000;
          box-shadow: 0px 0px 10px #ff0000;
}

.cent50 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: white;
  background-color: black;
}

.titleband {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: white;
  background-color: black;
}

.titleband2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  color: white;
  background-color: black;
  margin-bottom: 1.5em;
}

@media (max-width: 580px) {
  .titleband2 {
    font-size: 2em;
  }
  .cent50 {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  .titleband2 {
    font-size: 1.8em;
  }
  .cent50 {
    font-size: 1.8em;
  }
}

@media (max-width: 350px) {
  .titleband2 {
    font-size: 1.6em;
  }
  .cent50 {
    font-size: 1.6em;
  }
}

@media (max-width: 308px) {
  .titleband2 {
    font-size: 1.2em;
  }
  .cent50 {
    font-size: 1.2em;
  }
}

table th {
  font-family: "Roboto Slab";
  text-align: center;
  font-size: 1.3em;
}

.rock p {
  font-size: 1.1em;
}

.rock .carreraray {
  margin-top: 20px;
  font-family: "Montserrat";
  text-decoration: underline;
  padding-bottom: 28px;
}

.titlejim, .titlemanza, .titlerob, .titlejohn {
  font-family: "Montserrat";
  font-style: italic;
  color: purple;
  margin-top: 2em;
  text-shadow: 0px 1px 0px black;
}

.puesto {
  text-decoration: underline;
  color: red;
  font-weight: bold;
  font-family: "Montserrat";
  text-shadow: 0px 1px 0px black;
  margin-left: 4px;
}

.maxiem {
  font-family: "Merriweather";
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}

.future {
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
  font-size: 15px;
  color: yellow;
  font-family: "Roboto Slab";
}

.past {
  color: #b416b4;
  text-shadow: 1px 2px 1px black;
  font-family: "Merriweather";
  text-transform: uppercase;
}

.carousel-item {
  color: white;
  height: 32rem;
  background: #777;
  position: relative;
}

.imagen-corporal {
  background-color: black;
}

.tupac {
  max-height: 100%;
  max-width: 100%;
  height: 96%;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.gallery {
  background-color: #fffb00;
  padding: 0 0;
}

.gallery .tupac {
  background-color: #000000;
  padding: 14px;
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.486);
          box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.486);
  cursor: pointer;
}

.gallery:hover .tupac:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#gallery-modal .modal-img {
  width: 100%;
}

footer {
  background-color: black;
}

footer a:hover {
  color: #ff00ff !important;
}

.tute {
  color: #bf00bf !important;
  text-shadow: 1px 1px 1px black;
  margin-bottom: -5px;
  font-family: "Montserrat";
  font-weight: bold;
  letter-spacing: 0.3px;
}

.luka {
  text-align: center;
  font-family: "Lato";
}

.tute:hover {
  color: white !important;
}

.topbody {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.turner {
  font-family: "Lato";
}

.rada li {
  margin-top: 1em;
  min-height: 7vh;
}

.radax li {
  margin-top: 1em;
  min-height: 9vh;
}

.radaz li {
  margin-top: 1em;
  padding-bottom: .20em;
  min-height: 8.3vh;
}

.raday li {
  margin-top: 2em;
  min-height: 8.1vh;
}

.radam li {
  margin-top: 1em;
  min-height: 8vh;
}

.radab li {
  margin-top: 1em;
  min-height: 10vh;
}

.rudy {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 2.8em;
  font-family: 'Montserrat', sans-serif;
  color: purple;
  text-shadow: 1px 1px 1px black;
}

.listauno {
  margin-top: 1em;
  font-family: "Montserrat";
}

.timmy {
  font-family: "Montserrat";
}

.steveo {
  background-color: #fffb00d2;
  margin-bottom: 15em;
  width: 200px;
}

.steveo ol li:hover {
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.xirius {
  background-image: url(../img/rarasa.jpg);
  background-position-y: center;
  background-attachment: fixed;
  background-size: 1240px;
  background-position-x: center;
  width: 100%;
  height: 100%;
}

.list-group-item {
  background-color: transparent;
}

.nombrefoot {
  text-transform: uppercase;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  -webkit-animation: glitch 240ms infinite;
          animation: glitch 240ms infinite;
  position: relative;
  font-size: 3.2rem;
  font-family: "Montserrat";
  color: white;
}

.nombrefoot span {
  position: absolute;
  top: 0;
  left: 0;
}

.nombrefoot span:first-child {
  -webkit-animation: glitch 777ms infinite;
          animation: glitch 777ms infinite;
  opacity: 0.8;
  -webkit-clip-path: polygon(0 100%, 40% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 40% 100%, 100% 100%, 0 100%);
  -webkit-transform: translate(-0.0105em, -0.005em);
          transform: translate(-0.0105em, -0.005em);
  color: red;
}

.nombrefoot span:last-child {
  -webkit-animation: glitch 221ms infinite;
          animation: glitch 221ms infinite;
  -webkit-clip-path: polygon(0 100%, 40% 100%, 100% 100%, 0 100%);
          clip-path: polygon(0 100%, 40% 100%, 100% 100%, 0 100%);
  -webkit-transform: translate(0.0105em, 0em);
          transform: translate(0.0105em, 0em);
  opacity: 0.8;
  color: blue;
}

@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0 0 rgba(255, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
  }
}

@media (max-width: 767px) {
  .steveo {
    margin-bottom: 0;
  }
  .steveo p {
    display: none;
  }
  .steveo h2 {
    font-size: 1.56rem;
  }
  .steveo ol li {
    background-color: transparent;
  }
  .remigalliard {
    margin-bottom: 10em;
  }
}
/*# sourceMappingURL=main.css.map */