$titulos-sub: 1.5em;
$sub-parrafo: 0.9em;
$principal-titulo: 3em;
$negrita: bold;
$alineado-centro: center;
$margen-diminuto: 0.6em;
$parrafo-tamanio: 1em;
$sombra-texto: 0px 0px 0px black;
$tipo-letra-parrafo: 'Merriweather';
$tipo-letra-titulo: 'Montserrat';
$tipo-letra-cowboy: 'Roboto Slab';
$tipo-letra-nav: 'Lato';
$titulo-responsive: 2.8em;
$parrafo-grandote: 1.1em;



.tabletitulo {
  font-size: $titulos-sub;
  font-weight: $negrita;
  text-align: $alineado-centro;
  margin-top: $margen-diminuto;
  font-family: $tipo-letra-parrafo;
  text-decoration: underline;
}

p {
  font-size: $parrafo-tamanio;
  text-shadow: $sombra-texto;
  font-family: $tipo-letra-cowboy ;
}

ul {
  font-size: $parrafo-tamanio;
  text-shadow: $sombra-texto;
  font-family: $tipo-letra-cowboy;
  list-style: none;
}


.mayoria, .robby {
  font-family: $tipo-letra-cowboy;
  font-size: $parrafo-tamanio;
  text-shadow: $sombra-texto;
}

.mayoria {
  margin-bottom: 1.5em;
}

.robby {
  margin-bottom: 2em;
}

.guitartitle  {
  font-family: $tipo-letra-titulo;
  font-size: $titulos-sub;
  text-decoration: underline;
  margin-bottom: 31px;
}

.discdurs {
  font-family: $tipo-letra-titulo;
  font-size: $titulos-sub;
  text-decoration: underline;
  margin-bottom: 30px;
}


.titlebio {
  font-size: $principal-titulo;
  font-family: $tipo-letra-titulo;
  
  color: white;
}
 
.parrafogrup {
  font-family: $tipo-letra-parrafo;
  overflow: hidden;
}

.vinilo {
  height: 3.2em;
  overflow-y: hidden;
  margin-top: 7px;
  
  overflow: hidden;
  transform: translate(-5%, -5% );
  animation: play 2s infinite linear;
}

.vinilox {
  height: 3.2em;
  overflow: hidden;
  margin-top: 7px;
  margin-left: 7px;
  overflow-y: hidden;
  transform: translate(-10%, -10% );
  animation: play 2s infinite linear;
}


@keyframes play {

  0%{ transform: translate(-10%, -10%) rotate(0deg);
    
  }

  50% {
    transform: translate(-10%, -10%) rotate(180deg);
    
  }
  
  100% {
    transform: translate(-10%, -10%) rotate(360deg);
  }
  
}

@media (max-width: 380px) {

  .vinilo, .vinilox {
    display: none;
  }

  .titlebio {
    
    
  }
  
  .titleband {
    font-size: $titulo-responsive;
  }

  .titleband2 {
    font-family: sans-serif;
    font-size: $principal-titulo;
    color: white;
    background-color: rgb(167, 0, 0);
    margin-bottom: 1.5em;
    
  }
 
  }


@media (max-width: 700px) {


  .vinilo {
    height: 55px;
    margin-left: 25px;
    transform: translate(-5%, -5% );
    animation: play 2s infinite linear;
  }
  
  .vinilox {
    height: 55px;
    
    margin-left: 20px;
    margin-right: 1em;
    transform: translate(-10%, -10% );
    animation: play 2s infinite linear;
  }


  



  .titlebio {
    font-size: 2.3em;
    font-family: $tipo-letra-titulo;
    
    
    color: white;
  }

  

  .container-fluid {
    
    h5 {
      font-size: $sub-parrafo;
      
    }
  }

.videofram {
  height: 100px;
  width: 100%;
}


.fa-facebook-f {
  border-radius: 100%;
  color: #1453ff;
  filter: drop-shadow(0px 0px 10px #1453ff);
  transition: all .4s;
  
  
}

.fa-facebook-f:hover {
  box-shadow: 0px 0px 10px #1453ff;
 
}

.fa-twitter {
  border-radius: 100%;
  color: #85a6ff;
  filter: drop-shadow(0px 0px 10px #85a6ff);
  transition: all .4s

}

.fa-twitter:hover {
  box-shadow: 0px 0px 10px #85a6ff;
}

.fa-instagram {
  border-radius: 100%;
  color: #750d37;
  filter: drop-shadow(0px 0px 10px #750D37);
  transition: all .4s

}

.fa-instagram:hover {
  box-shadow: 0px 0px 10px #750D37;
}

.fa-certificate {   

  border-radius: 100%;
  color: #83ca00;
  filter: drop-shadow(0px 0px 10px #83ca00);
  transition: all .4s

}

.fa-certificate:hover {
  box-shadow: 0px 0px 10px #83ca00;
}

.fa-music {

  border-radius: 100%;
  color: #ffffff;
  filter: drop-shadow(0px 0px 10px #ff0077);
  transition: all .4s
}

.fa-music:hover {
  box-shadow: 0px 0px 10px #ff0077;
}

.fa-wikipedia-w {
  border-radius: 100%;
  color: rgb(201, 201, 201);
  filter: drop-shadow(0px 0px 10px gray);
  transition: all .4s
}

.fa-wikipedia-w:hover {
  box-shadow: 0px 0px 10px gray;
}


.tutu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cristiano {
  height: 20px;
}

}

.cssload-loader {
	position: relative;
	left: calc(100% + 114%);
	width: 38px;
	height: 38px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 480px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1s linear infinite;
		-o-animation: cssload-rotate-one 1s linear infinite;
		-ms-animation: cssload-rotate-one 1s linear infinite;
		-webkit-animation: cssload-rotate-one 1s linear infinite;
		-moz-animation: cssload-rotate-one 1s linear infinite;
	border-bottom: 2px solid rgb(251,255,0);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1s linear infinite;
		-o-animation: cssload-rotate-two 1s linear infinite;
		-ms-animation: cssload-rotate-two 1s linear infinite;
		-webkit-animation: cssload-rotate-two 1s linear infinite;
		-moz-animation: cssload-rotate-two 1s linear infinite;
	border-right: 2px solid rgb(255,238,0);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1s linear infinite;
		-o-animation: cssload-rotate-three 1s linear infinite;
		-ms-animation: cssload-rotate-three 1s linear infinite;
		-webkit-animation: cssload-rotate-three 1s linear infinite;
		-moz-animation: cssload-rotate-three 1s linear infinite;
	border-top: 2px solid rgb(255,251,0);
}



@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}



.johnny {
  margin-left: -2rem;
  
  margin-right: 2em;
  
}

.ryan {

}

.logan {
  
  


}


.morris {


  
  
}



.fa-facebook-f {
  border-radius: 100%;
  color: #1453ff;
  filter: drop-shadow(0px 0px 10px #1453ff);
  transition: all .5s;
  
  
}

.fa-facebook-f:hover {
  box-shadow: 0px 0px 10px #1453ff;
 
}

body {
  
  font-size: $parrafo-grandote !important;
  
}



@font-face {
  font-family: Monument Extended;
  src: url('../fonts/MonumentExtendedR.otf');
}



.fa-twitter {
  border-radius: 100%;
  color: #85a6ff;
  filter: drop-shadow(0px 0px 10px #85a6ff);
  transition: all .4s

}

.fa-twitter:hover {
  box-shadow: 0px 0px 10px #85a6ff;
}

.fa-instagram {
  border-radius: 100%;
  color: #750d37;
  filter: drop-shadow(0px 0px 10px #750D37);
  transition: all .4s

}

.fa-instagram:hover {
  box-shadow: 0px 0px 10px #750D37;
}

.fa-certificate {   

  border-radius: 100%;
  color: #83ca00;
  filter: drop-shadow(0px 0px 10px #83ca00);
  transition: all .4s

}

.fa-certificate:hover {
  box-shadow: 0px 0px 10px #83ca00;
}

.fa-music {

  border-radius: 100%;
  color: #a55d5d;
  filter: drop-shadow(0px 0px 10px #ff0000);
  transition: all .4s
}

.fa-music:hover {
  box-shadow: 0px 0px 10px #c40000;
}

.fa-wikipedia-w {
  border-radius: 100%;
  color: rgb(201, 201, 201);
  filter: drop-shadow(0px 0px 10px gray);
  transition: all .4s
}

.fa-wikipedia-w:hover {
  box-shadow: 0px 0px 10px gray;
}

.loader {
  position: relative;
  

}

.loader::before {
  content: "";
  position: absolute;
  top: -17px;
  right: -30px;
  
  
  background-color: #03e9f4;
  animation:  blinkCursor 0.8s steps(1) infinite;
}

@keyframes blinkCursor 

{ 
  0%, 75%
  {
    opacity: 1;
  }
 76%, 100%
 {
   opacity: 0;
 }
}




.loader h4 {

  position: relative;
  color: #03e9f4 ;
  letter-spacing: 5px;
  font-size: 1.5em;
  text-transform: uppercase;
  animation: typing 7s steps(65) infinite;
  overflow: hidden;
}

@keyframes typing 

{

  0%, 90%, 100%  
  {
    width: 0;
  }
  30%, 60%
  {
    width: 25em;
  }



} 

.fa-caret-square-up {
  height: 200px;
  margin-right: 50px;
}


.rubro6 {
  margin-bottom: -120px;
}



.fa-spotify {
  border-radius: 100%;
  color: #14ff14;
  filter: drop-shadow(0px 0px 10px #008000);
  transition: all .4s;
}


.fa-spotify:hover {
  box-shadow: 0px 0px 10px #008000;
}

.fa-youtube {
  border-radius: 100%;
  color: #ff0000;
  filter: drop-shadow(0px 0px 10px #ff0000);
  transition: all .4s;
}

.fa-youtube:hover {
  box-shadow: 0px 0px 10px #ff0000;
}

.cent50 {
  font-family: 'Montserrat', sans-serif;
  font-size: $principal-titulo;
  color: white;
  background-color: black
}

.titleband {
  font-family: 'Montserrat', sans-serif;
  font-size: $principal-titulo;
  color: white;
  background-color: black;
  
}

.titleband2 {
  font-family: 'Montserrat', sans-serif;
  font-size: $principal-titulo;
  color: white;
  background-color: black;
  margin-bottom: 1.5em;
  
}

@media (max-width: 580px) {

  .titleband2 {
  
  font-size: 2em;
}
  .cent50 {
    font-size: 2em;
  }

  table  {
    display: none;
  }

  .tabletitulo {
    display: none;
  }

  .vinilo {
    display: none;
  }


  .vinilox {
    display: none;
  }
  .titlebio {
    margin-left: 23%;
  }
}


@media (max-width: 400px) {

  .titleband2 {
  
  font-size: 1.8em;
}

.cent50 {
  font-size: 1.8em;
}


}

@media (max-width: 350px) {

  .titleband2 {
  
  font-size: 1.6em;
}

  .cent50 {
  font-size: 1.6em;
}
}

@media (max-width: 308px) {

  .titleband2 {
  
  font-size: 1.2em;
}

  .cent50 {
    font-size: 1.2em;
  }
}


table th {
  font-family: 'Monument Extended';
  text-align: center;
  font-size: 1.3em;
}






.rock {

  p {
    font-size: $sub-parrafo;
  }
  
  .carreraray {
    margin-top: 20px;
    font-family: $tipo-letra-titulo;
    text-decoration: underline;
    padding-bottom: 28px;
  }
}


.titlejim, .titlemanza, .titlerob, .titlejohn {
  font-family: $tipo-letra-titulo;
  font-style: italic;
  color: purple;
  margin-top: 2em;
  text-shadow: 0px 1px 0px black;
}



.puesto {
  text-decoration: underline;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-family: $tipo-letra-titulo;
  text-shadow: 0px 1px 0px black;
  margin-left: 4px;
}

.maxiem {
  
  font-family: $tipo-letra-parrafo;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  
}

.future {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: bold;
  font-size: 15px;
  color: yellow;
  font-family: $tipo-letra-cowboy;
}

.past {
  color: rgb(180, 22, 180);
  text-shadow: 1px 2px 1px black;
  font-family: $tipo-letra-parrafo;
  
  text-transform: uppercase;
}

.carousel-item {
  color: white;
  height: 32rem;
  background: #777;
  position: relative;
 }

 .imagen-corporal {
   background-color: black;
   overflow-x: hidden;
 }

  

.tupac {
  
  max-height: 100%;
  max-width: 100%;
  height: 96%;
  width: 100%;
  transition: all .5s;
}

.gallery {
  background-color: #fffb00;
  padding: 0 0;
 
}

.gallery .tupac {
  background-color: black;
  padding: 14px;
  
  width: 100%;
  box-shadow: 5px 5px 15px rgb(255, 0, 0);
  cursor: pointer;
}

.gallery:hover .tupac:hover {
transform: scale(1.2);
}

#gallery-modal .modal-img {
  
  width: 100%;
}

footer {
  background-color: black;

  a:hover {
    color: #ff00ff !important;
  }
}



.tute {
  // color: rgb(22, 179, 241) !important;
  color: #bf00bf !important;
  text-shadow: 1px 1px 1px black;
  margin-bottom: -5px;
  font-family: $tipo-letra-titulo;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.luka {
  text-align: center;
  font-family: $tipo-letra-nav;
}



.tute:hover {
  color: rgb(255, 255, 255) !important;
  
}

.topbody {
  overflow-x: hidden;
  background-color: #000000;
}

.turner {
  font-family: $tipo-letra-nav;
}



.rada li {
  margin-top: 1em;
  min-height: 7vh;
}

.radax li {
  margin-top: 1em;
  min-height: 9vh;
}

.radaz li {
  margin-top: 1em;
  padding-bottom: .20em;
  min-height: 8.3vh;
}


.raday li {
  margin-top: 2em;
  min-height: 8.1vh;
}




.radam li {
  margin-top: 1em;
  min-height: 8vh;
}




.radab li {
  margin-top: 1em;
  min-height: 10vh;
}







.rudy {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: $titulo-responsive;
  font-family: 'Montserrat', sans-serif;
  color: purple;
  text-shadow: 1px 1px 1px black;
}

.listauno {
  margin-top: 1em;
  font-family: $tipo-letra-titulo;
}


.timmy {
  font-family: $tipo-letra-titulo;
}



.steveo {
  // background-color: rgba(255, 255, 255, 0.774);
  background-color: #fffb00d2;
  margin-bottom: 15em;
  width:  100%;
    ol li {
      font-family: $tipo-letra-titulo;
      background-color: transparent;
    }
  ol li:hover {
    background-color: #fffb00;
    
    transition: all .4s ease;
  }
}

.xirius {
  background-image: url(../img/rarasa.jpg);
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  
  
}

.list-group-item {
  background-color: transparent;
}



.nombrefoot {
  text-transform: uppercase;
  text-shadow:0.05em 0 0 rgba(255,0,0,.75),
             -0.025em -0.05em 0  rgba(0,255,0,0.75),
              0.025em 0.05em 0  rgba(0,0,255,0.75);
   animation: glitch 240ms infinite;
  position: relative;
  font-size: 3.2rem;
  font-family: $tipo-letra-titulo;
  
  color: rgb(255, 255, 255);
}

.nombrefoot span {
   position: absolute;
   top: 0;
   left: 0;
  
}

.nombrefoot span:first-child{
  animation: glitch 777ms infinite;
  opacity: 0.8;
  clip-path: polygon(0 100%, 40% 100%, 100% 100%, 0 100%);
  transform: translate(-0.0105em, -0.005em);
  color: red;
}

.nombrefoot span:last-child{
  animation: glitch 221ms infinite;
  clip-path: polygon(0 100%, 40% 100%, 100% 100%, 0 100%);
  transform: translate(0.0105em, 0.000em);
  opacity: 0.8;
  color: blue;
  
  
}

.rulera {
  margin: 0;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255,0,0,0.75),
                -0.05em -0.025em 0  rgba(0,255,0,0.75),
                 -0.025em 0.05em 0  rgba(0, 0, 255, 0.75);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255,0,0,0.75),
                -0.05em -0.025em 0  rgba(0,255,0,0.75),
                 -0.025em 0.05em 0  rgba(0,0,255,0.75);
  }

  15% {
    text-shadow: -0.05em 0 0 rgba(255,0,0,0.75),
                0.025em 0.025em 0  rgba(0,255,0,.75),
                 -0.05em -0.05em 0  rgba(0,0,255,0.75);
  }

  49% {
    text-shadow: -0.05em 0 0 rgba(255,0,0,0.75),
                0.025em 0.025em 0  rgba(0,255,0,.75),
                 -0.05em -0.05em 0  rgba(0,0,255,0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255,0,0,0.75),
                0.05em 0 0  rgba(0,255,0,0.75),
                0 -0.05em 0  rgba(0,0,255,0.75);
  }

  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255,0,0,0.75),
                0.05em 0 0  rgba(0,255,0,0.75),
                0 -0.05em 0  rgba(0,0,255,0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255,0,0,0.75),
                 -0.025em -0.025em 0  rgba(0,255,0,0.75),
                 -0.025em -0.05em 0  rgba(0,0,255,0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before
  ::after{
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

@media (max-width:767px) {

.steveo {
  margin-bottom: 0;
  p{
    display: none;
  }

  h2 {
    font-size: 1.56rem;
  }

  ol li {
    background-color: transparent;
    
  }

 
}

.remigalliard {
  margin-bottom: 10em;
}



}


.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/829.gif) 50% 50% no-repeat #000000;
  
  opacity: 97.7%;
}
